@{
    ViewData["Title"] = "Creador Derecho de Autor";
}

<style>
    /* Estilo para centrar textos */
    .text-center {
        text-align: center;
    }

    /* Estilo para centrar el contenido del contenedor */
    .container-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50vh; /* Esto centra el contenido verticalmente */
    }
</style>

<div class="container container-center">
    <h1 class="text-center">@ViewData["Title"]</h1>

    <h1 class="text-center">Jose Manuel Bautista Carmona.</h1>
    <p class="text-center">Matricula 06-0519.</p>
    <p class="text-center">Lenguaje de Cuarta Generacion INF-345.</p>
    <p class="text-center">Profesor Pantaleón Mueses Martínez.</p>
</div>