@model PARCIAL1.Models.Tipovehiculo

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Seguro quieres borrar este Vehiculo?</h3>
<div>
    <h4>Tipovehiculo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TarifaPorDia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TarifaPorDia)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TipoVehiculoID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
